.topnav {
    width: 100%;
    height: 70px;
    right: 0;
    display: flex;
    position: fixed;
    overflow: hidden;
    border-bottom: 1px solid #171A22;
    background-color: #0C0E13;
    /* box-shadow: 0px 10px 10px 20px #000000; */
  }

.menuLeft {
    width: 100%;
    /* padding-left: 100px; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.menuLeft input {
    background-size: 18px;
    background-image: url('../../assets/icons/search.png');
    background-position: 15px 10px;
    background-repeat: no-repeat;
    background-color: #181A20;
    color: #7B848F;
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 16px;
}

.menuLeft input:focus {
    outline: none;
}

::placeholder {
    color: #7B848F;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #7B848F;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: #7B848F;
}

.menuRight {
    width: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.menuRight img {
    color: white;
    width: 25px;
}

.menuRight button {
    border: none;
    border-radius: 6px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
}

.menuRight .pro {
    background-color: #0C0E13;
    background-image: linear-gradient(to right, rgb(22,229,180,1) , rgb(22,229,180,0.6));
    color: white;
}

.menuRight .login {
    background-color: #181A20;
    color: rgb(123, 132, 143, 1);
}

.menuRight .pro:hover {
    color: #0C0E13;
}

.menuRight .login:hover {
    color: white;
}

.teste {
    border: 1px solid red;
}

.menuMini {
    padding-left: 20px;
}