:root {
    --width-menuLeft: 75px; 
}

@media only screen and (min-width: 600px) {
    .p-container-sm {padding-left: 0px;}
    .p-menuLeft-sm {padding-left: 20px;}
}
  
@media only screen and (min-width: 768px) {
    .p-container-md {padding-left: 0px;}
    .p-menuLeft-md {padding-left: 20px;}
}
  
@media only screen and (min-width: 992px) {
    .p-container-lg {padding-left: 75px;}
    .p-menuLeft-lg {padding-left: 100px;}
}
  
@media only screen and (min-width: 1200px) {
    .p-container-xl {padding-left: 75px;}
    .p-menuLeft-xl {padding-left: 100px;}
}
  
@media only screen and (min-width: 1400px) {
    .p-container-xxl {padding-left: 75px;}
    .p-menuLeft-xxl {padding-left: 100px;}
}