/* .content {
    width: 1160px;
    color: white;
    padding-top: 100px;
    margin: auto;
}

.content .title{
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    align-items: center;
}

.title img{
    width: 40px;
    height: 40px;
    padding-right: 15px;
    padding-bottom: 13px;
}

.title h1{
   color: white;
}

.ranking {
    border-radius: 30px 30px 0px 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0E1015;
    color: white;
    width: 100%;
} */